footer {
    background-color: #000000;
    color: #ffffff;
}

.footer-container {
    max-width: 1200px;
    padding: 120px 20px 60px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    align-items: center;
}

.footer-texto {
    font-size: 1.5rem;
    line-height: 1.33;
    font-family: "Fira Sans", sans-serif;
    color: #c4c4c4;
}

.footer-contato li {
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 1.1;
    margin-bottom: 30px;
    font-family: "Anek Malayalam", sans-serif;
}

.footer-contato li a {
    color: #ffffff;
}

.rede-social {
    display: flex;
    gap: 10px;
}

.footer-copy {
    grid-column: 1 / -1;
    font-size: 1.125rem;
    color: #c4c4c4;
    font-family: "Fira Sans", sans-serif;
}

.copy {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media (max-width: 800px) {
    .footer-container {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .footer-texto {
        font-size: 1rem;
    }

    .footer-contato li {
        font-size: 1.5rem;
    }

    .footer-copy {
        font-size: 1rem;
    }
}
